{% extends "base.html" %} {% block content %}

<div class="mb-6 text-right">
  <a
    href="{% url 'add_task' %}"
    class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 mt-4"
  >
    + Add New Task</a
  >
</div>
<h2 class="text-2xl font-bold mb-4">Your Tasks</h2>
<ul>
  {% for task in tasks %}
  <li class="p-4 bg-white rounded shadow flex justify-between items-center">
    <div>
      <span class="font-semibold">{{ task.title }}</span> - {% if task.status %}
      <span class="text-green-600 font-medium">Completed</span>
      {% else %}
      <span class="text-red-600 font-medium">Pending</span>
      {% endif %}
    </div>
    <div class="space-x-2">
      <a
        href="{% url 'update_task' task.id %}"
        class="text-blue-600 hover:underline"
        >Edit</a
      >
      <a
        href="{% url 'delete_task' task.id %}"
        class="text-red-600 hover:underline"
        >Delete</a
      >
    </div>
  </li>
  {% empty %}
  <li class="text-gray-500">No tasks found.</li>
  {% endfor %}
</ul>
{% endblock %}
